<!DOCTYPE html>
<html>
<head>
    <partial name="_LayoutHead" />
    <partial name="_LayoutHeadArea" optional="true" />
    <partial name="_RequireConfig" />
    <partial name="_RequireConfigArea" optional="true" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Content/scripts/showScriptsLoading.js"></script>
</body>
</html>