@{
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/content/libs/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/content/libs/toastr/toastr.css" rel="stylesheet" />
    <script src="~/content/libs/require/require.min.js"></script>
    <script>
        //todo auto find and join require_config scripts for area
        requirejs.config({
            paths: {
                'jquery': '/content/libs/jquery/jquery-2.1.0'
                , 'toastr': '/content/libs/toastr/toastr'
                , 'bootstrap': '/content/libs/bootstrap'
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <partial name="_Demo/_Menus" />
        @RenderBody()
        <partial name="_Demo/_RequestContext" />
    </div>
    <script src="~/Content/scripts/showScriptsLoading.js"></script>
</body>
</html>