@using NbSites.Common.Menus
@inject MenuContext MenuContext
<ul>
    @foreach (var item in MenuContext.Menus)
    {
        <li>
            <a href="@Url.Content(item.Href)" id="@item.Key">@item.Text</a>
        </li>
    }
</ul>