<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title</title>
<link href="~/content/libs/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="~/content/libs/toastr/toastr.css" rel="stylesheet" />
<script src="~/content/libs/require/require.min.js"></script>
<partial name="_LayoutHeadArea" optional="true" />
<script id="@this.Path">
    "use strict";
    //for all page
    requirejs.config({
        paths: {
            'jquery': '/content/libs/jquery/jquery-2.1.0'
            , 'toastr': '/content/libs/toastr/toastr'
            , 'bootstrap': '/content/libs/bootstrap'
            , 'myClock': '/content/scripts/myClock/myClock'
        },
        shim: {
            myClock: {
                exports: "myClock"
            }
        }
    });
    console.log('loading @this.Path');
</script>
<partial name="_RequireConfigArea" optional="true" />